.survey {
  width: 400px;
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.survey_title {
  padding-bottom: 10px;
  color: #120644;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.survey_question {
  margin-bottom: 10px;
}

.survey_answer {
  margin-bottom: 10px;
}

.survey_answer_item {
  margin-bottom: 10px;
}

.survey_make {
  margin-top: 10px;
  text-align: center;
}
